body {
    background-color: #1d1d1d;
}

#main-container {
    margin: 50px;
    width: auto;
}

table {
    background-color: rgb(39, 39, 39);
    text-align: left;
    width: 100%;
    border-collapse: collapse;
}

th,
td {
    padding: 10px;
    border: solid 1px #1d1d1d;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}

thead {
    background-color: #333333;
    color: white;
    font-size: 15px;
}

tr:nth-child(even) {
    background-color: #333333;
    color: white;
    font-size: 15px;
}

tr:hover td {
    background-color: #444444;
    color: white;
    font-size: 15px;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(150, 150, 150);
    text-align: center;
    font-size: 20px;
}

h2 {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(150, 150, 150);
    text-align: center;
    font-size: 15px;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-align: auto;
    margin: auto;
    font-size: 15px;
}

a {
    text-decoration: none;
    color: #b837b8;
    font-weight: bold;
}

img {
    width: 112px;
    margin: auto;
    display: block;
}

.roles {
    width: 25px;
    margin: auto;
    display: block;
}

.changecolor:hover {
    text-align: center;
    color: #313131;
    font-weight: bold;
    -webkit-animation: colorchange 20s infinite alternate;
}

@-webkit-keyframes colorchange {
    0% {
        color: #972497;
    }

    10% {

        color: #8e44ad;
    }

    20% {

        color: #1abc9c;
    }

    30% {

        color: #d35400;
    }

    40% {

        color: blue;
    }

    50% {

        color: #34495e;
    }

    60% {

        color: blue;
    }

    70% {

        color: #2980b9;
    }

    80% {

        color: #f1c40f;
    }

    90% {

        color: #2980b9;
    }

    100% {

        color: pink;
    }
}
